.board {
    display: grid;
    grid-template-columns: repeat(7, 50px);
    grid-gap: 5px;
    justify-content: center;
    margin-top: 20px;
    padding: 5px;
    background-color: #0074cc;
    border-radius: 20px;
} 